<div>
<textarea   class="col-sm-offset-1 col-sm-10" placeholder="INSERISCI IL JSON PER CARICARE GLI EVENTI"
				       style="border-style: dashed; border-width:3px; overflow: auto; 
				              height: 300px;background-color: inherit;float:none" ng-model="admCtrl.load"/>

<br />
<div>
			 <button class="btn btn-primary"
			 		style="margin-left: auto; margin-right: auto; display: block;margin-top: 15px;" 
			        ng-click="admCtrl.carica()">
                 Load
			 </button>		
</div>	
    <!--<textarea class="col-sm-offset-3 col-sm-6" id="risulato" style="border-style: dashed; border-width:3px; overflow: auto;height: 300px;background-color: inherit;margin-top:15px" />-->
    <p id="risultat"></p>
</div>	
	
	
	
