<div class="content" style="width:90%">
<div class="panel panel-default" ng-repeat="c in cartCtrl.preferiti.prodotto"  style=" background-color:#E2E2E2;">
<div ng-if="c">
        <div class="panel-heading">informazioni</div>
        <div class="panel-body" >
            <input style="align:right;"type="number" ng-model="c.details.quantita"ng-change="cartCtrl.sum()" min="0"/>
            <p >{{c.properties.title}}</p>
            <p style="align:left;">price : {{c.details.price}} <i class="glyphicon glyphicon-euro"></i></p>
            <p> tot: {{c.details.price*c.details.quantita}} <i class="glyphicon glyphicon-euro"></i></p>
        </div>
    <button class="button-style" ng-click="cartCtrl.removeToCart(c.details.idEvento,c.details.quantita)" style=" background-color:green;"><i class="glyphicon glyphicon-repeat"></i>
aggiorna</button>
    <button class="button-style" ng-click="cartCtrl.deleteToCart(c.details.idEvento)" style=" background-color:red;"><i class="glyphicon glyphicon-trash"></i> cancella</button>
    </div>
</div>
<div ng-open="cartCtrl.sum()">
    <div ng-if="prodotto==0">I tuoi preferiti sono vuoti  
    <button class="button-style" ui-sref="search">
        esplora
        <i class="glyphicon glyphicon-shopping-search"></i>
    </button>
    </div>
    <div ng-if="cartCtrl.somma!=0"> costo totale: {{cartCtrl.somma}}
    <button class="button-style" ng-click="cartCtrl.paga(c.details.idEvento,c.details.quantita)"><i class="glyphicon glyphicon-ok"></i>
Paga</button>
    </div> 
</div>
</div>