<style>
.button-style2
{
width: 20%;
float: right;
}

</style>

<div class="content" style="width:90%">
<div class="panel panel-default container-fluid" ng-repeat="c in cartCtrl.cart.prodotto"  style=" background-color:#E2E2E2;">
<div ng-if="c">
    <div class="panel-heading">{{c.properties.title}}<i class="glyphicon glyphicon-trash" ng-click="cartCtrl.delete(c.details.idEvento)" style="float:right;color:red"></i><i class="glyphicon glyphicon-repeat"  ng-click="cartCtrl.upCart(c.details.quantita,c.details.idEvento)" style="float:right;color:green;margin-right:7px"></i></div>
  
  <div class="row">
      <div class="col-md-5">
        <img ng-src={{c.details.photo}} style="width: 120px; height:120px; border: 3px solid; border-radius: 100px; position:relative;float:left; align-content:center; padding:3px; position:relative; margin-left:18%;margin-bottom:4%">
      </div>
       <p style="float:left;margin-top:10px">price : {{c.details.price}},00 <i class="glyphicon glyphicon-euro"></i></p>
        <div class="panel-default" style="float:right">
            <input style="margin-top:20%"type="number" ng-model="c.details.quantita"ng-change="cartCtrl.sum()" min="0"/>
            <p style="margin-top:20%"> tot: {{c.details.price*c.details.quantita}},00 <i class="glyphicon glyphicon-euro"></i></p>

        </div>
    </div>
<!--     <button class="button-style button-style2" ng-click="cartCtrl.upCart(c.details.quantita,c.details.idEvento)" style=" background-color:green;"><i class="glyphicon glyphicon-repeat"></i>
aggiorna</button>
   <button class="button-style button-style2" ng-click="cartCtrl.delete(c.details.idEvento)" style=" background-color:red;"><i class="glyphicon glyphicon-trash"></i> cancella</button>-->
    </div>
</div>
<div ng-open="cartCtrl.sum()">
    <div ng-if="carrello==0"> il tuo carrello è vuoto  
    <button class="button-style" ui-sref="search">
        esplora
        <i class="glyphicon glyphicon-shopping-search"></i>
    </button>
    </div>
    <div ng-if="cartCtrl.somma!=0"> costo totale: {{cartCtrl.somma}},00 <i class="glyphicon glyphicon-euro"></i>
    <button class="button-style" ng-click="cartCtrl.paga()"><i class="glyphicon glyphicon-ok"></i>
Paga</button>
    </div> 
</div>
</div>
<!---->