
<div class="content" style="width:90%" ng-open="detCtrl.esiste()">
    <div>
    <img id="foto" ng-src="{{detCtrl.poi.details['ph-primary']}}" style="max-height:300px; margin-bottom:7px; border-radius:30px; max-width:200px" >
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">informazioni</div>
        <div class="panel-body" >
            <p id="title"></p>
            <p id="city"></p>
            <p id="street"></p>
            <p id="dateFrom"></p>
            <p id="dateTo"></p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">contatti</div>
        <div class="panel-body">            
            <p id="email"></p>  
            <p id="website"></p>  
            <p id="phone"></p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">prezzi</div>
        <div class="panel-body">
            <p id="price"></p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">descrizione</div>
        <div class="panel-body"><p id="desc"></p></div>
    </div>
    <button class="button-style" ng-click="((detCtrl.addToPreferiti())&&(detCtrl.present=true)) " 
             ng-if="detCtrl.present==false" ng-model="detCtrl.present">
        Aggiungi ai preferiti
        <i class="glyphicon glyphicon-heart"></i>
    </button>
    <button class="button-style" ng-click="detCtrl.addToCart()">
        Aggiungi a carrello
        <i class="glyphicon glyphicon-shopping-cart"></i>
    </button>
</div>