<div>
    <div class="panel panel-default">
        <div class="panel-heading">informazioni</div>
        <div class="panel-body" >
            <input type="text" ng-model="detCtrl.up._id" />
            <p ng-model="detCtrl.up._id">{{detCtrl.up._id}}</p>
            <p>{{detCtrl.poi.details.address.street}}</p>
            <p>{{detCtrl.up.details.address.city}}</p>
            <p>{{detCtrl.up.details.address.country}}</p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Panel Heading</div>
        <div class="panel-body">Panel Content</div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Panel Heading</div>
        <div class="panel-body">Panel Content</div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Panel Heading</div>
        <div class="panel-body">Panel Content</div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Panel Heading</div>
        <div class="panel-body">Panel Content</div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">descrizione</div>
        <div class="panel-body">{{detCtrl.up.details.desc}}</div>
    </div>
</div>