<div>
    <div >
    <img id="foto" ng-src="{{detCtrl.poi.details['ph-primary']}}" >
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">informazioni</div>
        <div class="panel-body" >
            <p id="title"></p>
            <p id="city"></p>
            <p id="street"></p>
            <p id="dateFrom"></p>
            <p id="dateTo"></p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">contatti</div>
        <div class="panel-body">            
            <p id="email"></p>  
            <p id="website"></p>  
            <p id="phone"></p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">prezzi</div>
        <div class="panel-body">
            <p id="price"></p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">descrizione</div>
        <div class="panel-body"><p id="desc"></p></div>
    </div>
    <button ng-click="detCtrl.addToCart()">carrello</button>
    <button ng-click="detCtrl.deleteToCart()">carrello -----------</button>
    <button ng-click="detCtrl.removeToCart()">-----------</button>
    
</div>