<style>
.button-style2
{
width: 20%;
float: right;
}

</style>

<div class="content" style="width:90%">
<div class="panel panel-default container-fluid" ng-repeat="c in preferitoCtrl.preferiti.prodotto"  style=" background-color:#E2E2E2;">
<div ng-if="c" >
    <div class="panel-heading"><i class="glyphicon glyphicon-trash" ng-click="preferitoCtrl.deleteToPreferito(c.details.idEvento)" style="float:right;color:red"></i></div>
    <div class="row">
        <div class="col-md-5">
        <img ng-src={{c.details.photo}} style="width: 120px; height:120px; border: 3px solid; border-radius: 100px; position:relative;float:left; align-content:center; padding:3px; position:relative; margin-left:18%">
      </div>
        <div class="col-md-3 panel-body" style=" position:relative; padding:3px; position:relative; margin-right:20%">
            
            <p>{{c.properties.title}}</p>
            <p>price : {{c.details.price}} <i class="glyphicon glyphicon-euro"></i></p>
        </div>
        
        
    </div>
    <button class="button-style button-style2" ng-click="preferitoCtrl.addCart(c.details.idEvento)"><i class="glyphicon glyphicon-shopping-cart"></i>aggiungi al carrello</button>
<!--    <button class="button-style" ng-click="preferitoCtrl.deleteToPreferito(c.details.idEvento)" style=" background-color:red;"><i class="glyphicon glyphicon-trash"></i> cancella</button>-->
    </div>
</div>
<div >
    <div ng-model="preferiti" ng-if="preferiti==0">
        I tuoi preferiti sono vuoti  
    <button class="button-style" ui-sref="search">
        esplora
        <i class="glyphicon glyphicon-shopping-search"></i>
    </button>
</div>
</div>