<style>
.angucomplete-title:hover
   {background-color: #81baff;}
.personal
    {background-color:#eae7e7;
     background-position: 100px 100px !important;
     height: 15px;}
</style>
<div class="container" style="width:90%">
    <section class="content" style="width:90%">
        <form style="width:90%">
            <h1>Dove vuoi andare?</h1>
            <div>
                <div class="row">
                    <div class="col-sm-6">
                    <h6>Da:</h6>
                    <input type="date" ng-model="srhCtrl.da" min="2016-01-01" max="2018-01-01"  id="da">
                    </div>
                    <div class="col-sm-6">
                    <h6>A:</h6>
                    <input type="date" ng-model="srhCtrl.a" min="2016-01-01" max="2018-01-01" id="a">
                    </div>
                </div>
                <h6>Regione</h6>
            <angucomplete-alt id="regione"
			  placeholder="regione"
			  pause="100"
			  selected-object="srhCtrl.regione"
              local-data="srhCtrl.lista_regioni"
			  title-field="nome"
			  search-fields='nome'
			  minlength="1"
			  match-class="highlight"
              input-class="personal"
               />
            <h6>Provincia</h6>
            <angucomplete-alt 
			  placeholder="provincia"
			  pause="100"
			  selected-object="srhCtrl.provincia"
			  local-data="srhCtrl.regione"
              local-search="srhCtrl.localSearchProvincia"	
			  search-fields='nome'						  		              
			  title-field="nome"
			  minlength="1"	              
			  match-class="highlight"
              id="provincia" 
              input-class="personal"/>
            <h6>Comuni</h6>
            <angucomplete-alt 
			  placeholder="comune"
			  pause="100"
			  selected-object="srhCtrl.comune"
			  local-data="srhCtrl.provincia"
              local-search="srhCtrl.localSearchComune"	
			  search-fields='nome'						  		              
			  title-field="nome"
			  minlength="1"	              
			  match-class="highlight"
              id="comune" 
              input-class="personal"/>
            <div>
				<input type="submit" class="form-control" value="Cerca" ng-click="srhCtrl.cerca()" >
			</div>
            </div>
        </form>
    </section>
</div>