
<div class="container" style="width:90%;">
	<section class="content"style="width:90%;">
		<form action="">
			<h1>Sign up</h1>
			<div>
                <h3>Nome</h3>
                <input type="text" id="name" ng-model="sgnCtrl.nome" placeholder="Inserisci il nome..." required="">
			</div>
			<div>
                <h3>Cognome</h3>
                <input type="text" id="cognome" ng-model="sgnCtrl.cognome" placeholder="Inserisci il cognome..." required="">
			</div>
            <div>
                <h3>Email</h3>
                <input type="text" id="email" ng-model="sgnCtrl.email" placeholder="Inserisci l'indirizzo email..." required="">
			</div>
            <div>
                <h3>Username</h3>
                <input type="text"  id="username2" ng-model="sgnCtrl.username" placeholder="Inserisci username" required="">
			</div> 
            <div>
                <h3>Password</h3>
				<input type="password" id="password2" ng-model="sgnCtrl.password" required="">
			</div>
            <div>
                <h3>Data di nascita</h3>
				<input type="date" id="data" ng-model="sgnCtrl.data" min="1900-01-01" max="2000-01-01" required="">
			</div>
			<div>
				<input type="submit" class="form-control" value="Sign Up" ng-click="sgnCtrl.save()" >
			</div>
		</form>
		<!--<div class="button">
			<a href="#">Download source file</a>
		</div>-->
	</section> 
</div>


